<div class="first-view">
  <div class="container">
    <h2 class="first-view_title">
      Potepan Shareで<br>
      まだ体験のしたことない<br>
      旅をしよう<br>
    </h2>  
  </div>
</div>  
<div class="container">
  <div class="recommend-area">
    <h2>おすすめのエリア</h2>
    <div class="recommend-areas">
      <div>
        <img src="https://rails-02-sample.herokuapp.com/assets/home/recommend-area/tokyo.jpg" alt="東京の写真" >
      </div>
      <div>
        <img src="https://rails-02-sample.herokuapp.com/assets/home/recommend-area/osaka.jpg" alt="大阪の写真" >
      </div>
      <div>
        <img src="https://rails-02-sample.herokuapp.com/assets/home/recommend-area/kyoto.jpg" alt="京都の写真" >
      </div>
      <div>
        <img src="https://rails-02-sample.herokuapp.com/assets/home/recommend-area/sapporo.jpg" alt="札幌の写真" >
      </div>
    </div>
  </div>
</div>  
<footer>
  <div class="container">
    <%= link_to root_path do %>
      <img class="footer-image" src="https://rails-02-sample.herokuapp.com/assets/common/logo.png" alt="Potepan Share" >
    <% end %>
    <p>Copyright © Potepan Share 2023 All rights reserved</p>
  </div>
</footer>
