/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import 'bulma';
@import 'bulma-extensions';

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}
.navbar {
  background-color: rgb(1, 5, 68);
}
.notification:not(:last-child){
    margin-bottom: 0;
}
.section {
    margin-top: 0;
}
.header_menu .accordion_menu .accordion_header {
  color: #fff;
  font-size: 26px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  transition-duration: 0.2s;
}
.header_menu .accordion_menu .accordion_header:hover {
  opacity: .8;
}
.header_menu .accordion_menu .accordion_inner {
  display: none;
  background-color: #fff;
  padding: 30px;
  border: 1px solid black;
}
.header_menu .accordion_menu .accordion_inner p.link_menu {
  margin: 0;
}
.form-container {
  background-color: #fff;
  padding: 20px;
  margin: 20px 0;
}
.searchForm-header {
  background-color: #dfe2e6;
  display: flex;
  justify-content: center;
  height: 125px;
  padding: 30px;
}
.searchForm-container {
  display: flex;
  justify-content: center;
}
.searchForm-field {
  margin-right: 15px;
}
.searchForm-field > .button {
  padding: 0 40px;
}

footer {
	height: 465px;
	margin-top: 260px;
	background-color: rgb(1, 5, 68);
	color: white;
}
.footer-image {
  margin-top: 200px;
}
