/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import 'bulma';
@import 'bulma-extensions';

.notification:not(:last-child){
    margin-bottom: 0;
}
.section {
    margin-top: 0;
}
  .header_menu .accordion_menu .accordion_header {
    color: #fff;
    font-size: 26px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    transition-duration: 0.2s;
  }
  .header_menu .accordion_menu .accordion_header:hover {
    opacity: .8;
  }
  .header_menu .accordion_menu .accordion_inner {
    display: none;
    background-color: #fff;
    padding: 30px;
    border: 1px solid black;
  }
  .header_menu .accordion_menu .accordion_inner p.link_menu {
    margin: 0;
  }
