// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.user-icon {
  border-radius: 50%;
}
.detail {
  margin: 30px 0 10px 30px;
  font-size: 36px;
}
.table-container{
  display: flex;
  align-items: flex-start;
  padding: 0 32px;
	margin-top: 50px;
}
.table-left {
	margin-right: 60px;
}
.table {
	font-size: 20px;
	margin-top: 50px;
}
.table-content {
	padding: 10px 20px;
}

.table-left td {
	border: 1px solid black;
	padding: 30px 0;
}
.link-design {
	padding: 0 40px;
	white-space: nowrap;
	text-align: center;
	font-size: 20px;
}
.edit-container {
	margin: 50px auto;
	width: 50%;
}
.icon-content {
	margin-top: 50px;
}
